---
# Welcome to CE880
### This is your week-2 : Problem 1 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

---
## Question 1:

Write a function to pass a list of numbers and return log2 of the array in the list format. 
`Hint`: take input as list and inside the function covert it into numpy array then perform the function. `Example` : input `[1, 4, 8]` and and output should be:  `[0.0, 2.0, 3.0]`

In [32]:
import numpy as np
def myLog(mylist):

  """Write a function to pass a list of numbers and return log2 of the array. """
 # YOUR CODE HERE
  arr2=np.log2(mylist)#Use numpy for Log2 conversion
  a=list(arr2)#convert array into list
  return a


  raise NotImplementedError()

In [33]:
in_array = [1, 4, 8]
myLog(in_array)

[0.0, 2.0, 3.0]

In [34]:
"""Check your output"""
# Test case 1
my = [1, 3, 5, 10**8]
assert myLog(my) == [0.0, 1.584962500721156, 2.321928094887362, 26.575424759098897]

# Test case 2
my = [1, 100, 1000]
assert myLog(my) == [0.0, 6.643856189774724, 9.965784284662087]

---

## Question 2:

The Fibonacci numbers are the numbers in the following integer sequence.
`[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...]`
In mathematical terms, the sequence $F_n$ of Fibonacci numbers is defined by the recurrence relation 

$$
F_n = F_{n-1} + F_{n-2}
$$
with seed values  
$$
 F_0 = 0 \& F_1 = 1.
;$$


Your task here is to write a code for printing $n^{th}$ Fibonacci number
`Example`: Input: `myfibonacci(9)` and Output should be `34`. Remember your index starts from 0.

In [35]:

def myfibonacci(n):
    """Function for nth Fibonacci number"""
    # YOUR CODE HERE
    if n<0:
      print("Enter the positive number")
    elif n==0:
        return 0
    elif n==1:
          return 1
    else:
      return (myfibonacci(n-1)+myfibonacci(n-2))
    raise NotImplementedError()

In [36]:
myfibonacci(3)

2

In [37]:
"""Check that correct fibonacci number"""
assert myfibonacci(0) == 0
assert myfibonacci(1) == 1
assert myfibonacci(2) == 1
assert myfibonacci(3) == 2
assert myfibonacci(4) == 3
assert myfibonacci(5) == 5
assert myfibonacci(6) == 8
assert myfibonacci(7) == 13
assert myfibonacci(8) == 21
assert myfibonacci(9) == 34

---
## Question 3: 

 Write a program, which accept a list with `nan`s in it and count the maximum number of consecutive repeated `nan`.
 Example: In the `a = [nan, nan, 0.1, nan, 0.16, 1, 0.16, 0.9999, 0.0001, 0.16, 0.101, nan, 0.16]` and answer is 2.

In [58]:

# YOUR CODE HERE
def max_rep_nan(a):
    
    nanCunt = np.concatenate(([False],np.isnan(a),[False]))
    if ~nanCunt.any():
        return 0
    else:
        
        nM = np.flatnonzero(nanCunt[1:] < nanCunt[:-1]) -  np.flatnonzero(nanCunt[1:] > nanCunt[:-1])#Counting max nan
        return nM.max()
        raise NotImplementedError()

In [59]:
a = [nan, nan, 0.1, nan, 0.16, 1, 0.16, 0.9999, 0.0001, 0.16, 0.101, nan, 0.16]
max_rep_nan(a)

2

In [53]:
"""Check your answer by running this cell"""
a = [nan, nan, nan, 0.1, nan, 0.16, 1, 0.16, 0.101, nan]
assert max_rep_nan(a) == 3

a = [nan, nan, nan, nan, nan, 0.16, 1, 0.16, 0.101, nan]
assert max_rep_nan(a) == 5

a = [nan, 10, nan, 0.1, nan, 0.16, 1, 0.16, 0.101, nan]
assert max_rep_nan(a) == 1

a = []
assert max_rep_nan(a) == 0

## Pandas Data Frame

In [54]:
from sklearn import datasets
import pandas as pd

In [55]:
# import some data to play with
iris = datasets.load_iris()
X = pd.DataFrame(iris.data[:, :])  # we are taking all features.
y = iris.target
print(X)
print(y)

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

---
## Question 4:

Write a function to find the max number in the each column in the IRIS dataset and return the output as a list,

In [64]:
def my_max_min(X):
    """Write a function to find the max number in the each column and return 
    as a list."""
    # YOUR CODE HERE
    a=X.max()
    b=list(a)
    return b
    raise NotImplementedError()

In [65]:
"""Check your output"""
assert my_max_min(X) == [7.9, 4.4, 6.9, 2.5]

---
## Question 5:


Write a function to calculate the `mean` and `standard deviation` of IRIS dataset (last column only). `Hint`: You can use NumPy aggregate functions. Create a list and append value to it and return the output.

In [82]:
import numpy as np
def stats(X):
    """Write a functon to calculate mean and standard deviation of IRIS dataset (last column only)."""
    # YOUR CODE HERE
  
    a=(X[3].mean())#calculating mean for last column
    b=(X[3].std())#calculating std for last column
    c=a,b
    d=list(c)#convert value in list
    return d
    raise NotImplementedError()

In [83]:
"""Check your output"""
# Test case
assert stats(X) == [1.1993333333333336, 0.7622376689603465]